body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
}

.vertical {
  display: inline-block;
  width: 32px;
  height: 80vh;
  padding: 0;
  margin-left: calc(50% - 16px);
}

.vertical input {
  width: 80vh;
  height: 32px;
  margin: 0;
  transform-origin: 40vh 40vh;
  transform: rotate(-90deg);
}

.custom {
    -webkit-appearance: none;
    background: #d3d3d3;
    border-radius: 16px;
    outline: none;
}

.custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #D11;
    cursor: pointer;
}

.custom::-moz-range-thumb {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: none;
    background: #D11;
    cursor: pointer;
}

.custom::-moz-range-track {
    opacity: 0;
}

#mediakeys {
    min-width: 320px;
    max-width: 52vh;
    height: 20vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mediakeys>* {
    cursor: pointer;
    width: 12vh;
    height: 12vh;
    margin: auto;
    border-radius: .5em;
    background-color: #D11;
    color: #FFF;
    font-size: 1.5em;
    text-align: center;
}

button {
    background-color: #D11;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    padding: .5em;
    border-radius: .25em;
    border: none;
    outline: none;
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: #363636;
  margin: auto;
  padding: 1em;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: .25em;
  transition: max-height 0.4s;
  overflow: hidden;
  max-height: 0;
}
