body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-size: 16px;
}

.vertical {
  display: inline-block;
  width: 32px;
  height: 80vh;
  padding: 0;
  margin-left: calc(50% - 16px);
}

.vertical input {
  width: 80vh;
  height: 32px;
  margin: 0;
  transform-origin: 40vh 40vh;
  transform: rotate(-90deg);
}

.custom {
    -webkit-appearance: none;
    background: #d3d3d3;
    border-radius: 16px;
    outline: none;
}

.custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #D11;
    cursor: pointer;
}

.custom::-moz-range-thumb {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: none;
    background: #D11;
    cursor: pointer;
}

.custom::-moz-range-track {
    opacity: 0;
}

#mediakeys {
    min-width: 320px;
    max-width: 52vh;
    height: 20vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mediakeys>* {
    cursor: pointer;
    width: 12vh;
    height: 12vh;
    margin: auto;
    border-radius: .5em;
    background-color: #D11;
    color: #FFF;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
}
